.schema-table {
  .popover {
    --bs-popover-max-width: 1024px;
  }

  &__tbody {
    overflow-x: hidden !important;
    border-collapse: collapse;
    width: 100%;
  }

  &__th-row {
    overflow: hidden !important;
  }

  .schema-column-filter-popover {
    background-color: #eee;
    input,
    select {
      width: 100%;
      padding: 3px;
      margin-top: 3px;
      border-radius: 5px;
    }
    input[type="checkbox"] {
      width: fit-content;
      margin-top: 10px;
      margin-left: 30px;
    }
    input[type="number"],
    input[type="text"],
    select {
      min-width: 150px;
    }
    .react-datepicker {
      display: flex;
    }
  }

  &__th {
    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    background-color: #eee;
    align-items: center;

    &,
    button {
      font-weight: bold;
      display: flex;
    }

    padding-left: 8px;
    padding-right: 8px;

    &--column-filter-status-ACTIVE {
      button {
        font-style: italic;
      }
      svg {
        color: var(--bs-red, red);
      }
    }
  }

  &__td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;

    &--odd {
      background-color: var(--bs-gray-100, #f8f9fa);
    }

    &--even {
      background-color: var(--bs-white, #fff);
    }
    &--selected {
      background-color: var(--bs-gray-300, #dee2e6);
    }
  }

  &__search {
    margin: 1rem;
    padding-right: 1rem;

    input {
      width: 100%;
    }
  }

  &--clickable-rows .schema-table__td {
    cursor: pointer;
  }
  button {
    border: 1px solid transparent;
  }

  &__action-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

    input {
      width: 30%;
      border-radius: 8px;
      padding: 4px 10px;
    }
  }
}
